body{
  background-color: hsl(220, 90%, 75%);
  font-family: 'Questrial', sans-serif;
  letter-spacing: .125em;
  color:white;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 1.25em;
}

header{
  text-align: center;
}

nav{
  text-align: center;
  color:hsl(220,90%,75%);
  background-color: white;
  width:100%;
  position:sticky;
  top:0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
  margin: .5em 1em .5em 0em;
  font-size: 1.25em;
}

section{
  border: 2px solid white;
  width: 80%;
  margin: 5em auto;
  padding: 3em;
  text-align: center;
}
section p{
  width:80%;
  margin:auto;
  text-align: left;
}

section ul{
  text-align: left;
  list-style-type: none;
  width:70%;
  margin:auto;
}

section ul li{
  margin: 1em 0;
}

section p a{
  color:blue;
}

section p a:hover{
  opacity: .65;
}

section p a:active{
  opacity: .45;
}

footer{
  text-align: center;
  color:hsl(220,90%,75%);
  background-color: white;
  width:100%;
  position:fixed;
  bottom:0;
  z-index: 1;
}
#greeting{
  text-align: center;
}

a{
  text-decoration: none;
  color:hsl(220,90%,75%);
}

a:hover{
  color:blue;
}

a:active{
  opacity: .5;
}

h2{
  text-align: center;
}

.activeClass{
  color:blue;
}

#logoContainer{
  position:relative;
  margin: auto;
}
.logo{
  width:auto;
  height: 150px;
  margin:3em 2em 3em 2em;
}

.logo:hover{
  opacity:.75;
}

code{
  font-size: 1em;
}

#example{
  font-family: 'Srisakdi', sans-serif;
}

.gridContainer1{
  display: grid;
  grid-template-columns: 10% 40% 10% 40%;
  background-color: white;
  color:hsl(220,90%,75%);
  padding:.5em;
}

.gridContainer2{
  display: grid;
  grid-template-columns:50% 50%;
  background-color: white;
  color:hsl(220,90%,75%);
  padding:.5em;
}

.gridItem{
  background-color: hsl(220,90%,75%);
  color:white;
  border: 2px solid white;
  padding:1em;
  text-align: center;
}
pre{
  text-align: left;
}

button{
  background-color: white;
  color:hsl(220,90%,75%);
  border:none;
  padding:.5em;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  font-size:1.25em;
}

button:hover{
  opacity: .75;
}

button:active{
  opacity: .5;
}

#forTable{
  text-align: center;
}

table,th,tr,td{
  border:1px solid white;
}
table{
  width: 100%;
}
th, td{
  padding: 1em;
}
