Tyler Shinkle
IT-DEV-160
Project 1
Due 3/19/2019
Project Document



**PROJECT DESCRIPTION**

For this project I will be creating a 3 tutorials with a home page. The tutorials will include...

1. Linking to an external font in HTML/CSS

2. Creating a grid layout with HTML/CSS

3. Creating a for loop in Javascript and altering HTML/CSS


Each tutorial will have it's own page for a total of 4 pages.(including HOME PAGE)

	*PAGE DESCRIPTIONS*

			@Home
			@Fonts
			@Grids
			@Loops
________________________________________________________________________________________________________


**FEATURE LIST**

1. horizontal sticky navbar with links to all pages

	TECHNICAL SPECS
	-must use sticky positioning
	-must link to all pages for site
	-must use imported font
	-must have hover / active pseudo classes
	-use activeClass to style link to active page (using classes)

2. a customized greeting using javaScript on the homepage (hardcoded data)

	TECHNICAL SPECS
	-must define a 'username'
	-must define a salutation
	-must use concatenation to combine the above two elements
	-must use element.textContent="content" (using id's)

3. a table displaying the output of a for loop using javaScript

	TECHNICAL SPECS
-The table will have two columns, one with a th of Input, the other of Output.

4. a grid layout explaining how grid layouts are coded

	TECHNICAL SPECS
	-4x4 grid
	-<p> above with <code> tag displaying how the grid was made.
	-button changing the id of grid and altering its CSS to change the height.

5. an unordered list explaining how a font was imported.

	TECHNICAL SPECS
	- different <li> elements
	e.g. this font was imported by adding <link> to the head and referencing the name in the CSS.


________________________________________________________________________________________________________
